# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties
**/android/**/GeneratedPluginRegistrant.java

# Flutter/Dart/Pub related (continued)
/pubspec.lock
/coverage/

# Web related (in case targets are added later)
lib/generated_plugin_registrant.dart

# Symbolication and obfuscation related
app.*.symbols
app.*.map.json

# Exceptions to above rules
!/android/gradle/wrapper/gradle-wrapper.properties
